<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title></title>
</head>
<body>
    <!-- is there a @yield() feature in ejs template? -->
    <nav class="flex justify-between items-center bg-gray-700 text-white py-4">
        <div class="w-1/3 p-2 text-center flex items-center justify-center">
            <div class="text-black text-sm mr-6">
                <form action="/lang" method="post">
                    <select class="rounded px-1" name="lang" id="lang">
                        <option value="en" selected>En</option>
                        <option value="fr">Fr</option>
                        <option value="ar">Ar</option>
                    </select>
                    <input class="rounded px-2" type='submit' value="<%= lang('set')%>">
                </form>
            </div>
            <div class="ml-6">
                <a href="/"><%= lang('home') %></a>
            </div>
        </div>
        <ul class="w-1/3 flex items-center justify-center px-4">
            <% if(currentUser) {%>
                <li class="mx-3"><a class="px-2 py-1 rounded bg-green-600 " href="/post/create"><%= lang('new-post') %></a></li>
            <% } %>

            <% if(!currentUser) {%>
                <li class="mx-3"><a href="/login"><%= lang('login') %></a></li>            
                <li class="mx-3"><a href="/register"><%= lang('register') %></a></li>
            <% } %>
            <% if(currentUser) {%>
                <li class="mx-3"><a href="/logout"><%= lang('logout') %></a></li>
            <% } %>
        </ul>

    </nav>